html, body {
    margin: 0;
    font-family: arial, "Microsoft YaHei";
    background-color: #7A1DD1;
    color: #FF0000;
}
#fileWrapper{
	transition:all 0.5s ease;
}
#fileWrapper:hover{
	opacity: 1!important;
}

#visualizer_wrapper{
	text-align: center;
}
footer{
	position: fixed;
	bottom: 2px;
	color:#aaa;
}
